.imagenCartelera
{
  height: 255px;
  width: 180px;
  display: block; /* Hacer que la imagen sea un elemento en bloque */
  margin: 0 auto; /* Centrar la imagen horizontalmente si es necesario */
  background-color: #333; /* Color de fondo del recuadro */
  padding: 3px; /* Añade espaciado alrededor de la imagen */
}
.textoCartelera
{
  /* font-family: 'Open sans'; */
	text-decoration: none;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-align: center; /* Alinear el texto al centro */
}

.SeccionCartelera {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; /* Espaciar los elementos horizontalmente */
}
.SeccionCartelera::-webkit-scrollbar
{
  width: 0px;
  height: 7px;
  
  
}
.SeccionCartelera::-webkit-scrollbar-thumb
{
  background: rgb(74, 73, 73);
  border-radius: 15px;
  
}

.peliculaCartelera {
  
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  text-align: center;
}
