/* Buscador */
.buscador
{
  margin-top: 15px;
  width: 600px;
  display: flex;

}
.buscador-titulo
{
  width: 70%;
  padding-left: 10px;
  margin-top: 2%;
  border: black 1px solid;
  border-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fffefebf;
}
.calendario
{
  width: 20%;
  margin-top: 2%;
  border: black 1px solid;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #fffefebf;
}
/*Fin buscador */

/* Menu Desplegable */
.container-filtrador{
  width: 100%;
}

.container-filtrador ul{
	list-style: none;
  padding-left: 1%;
}

.menu-filtro > li{
	position: relative;
	display: inline-block;
  color: rgba(255, 255, 255, 0.89);
  margin-right: 2%;
}

.menu-filtro > li > a{
	display: block;
	color: rgba(255, 255, 255, 0.89);
	font-family: 'Open sans';
	text-decoration: none;
}

.menu-filtro li a:hover{
	color: rgb(124, 124, 124);
}



/* Submenu*/

.submenu-filtro{
  position: absolute;
	background: rgb(48, 33, 33);
	visibility: hidden;
	opacity: 0;
  border-radius: 5px;
}

.submenu-filtro li a{
	display: block;
	padding: 15px;
	color: rgba(255, 255, 255, 0.89);
	font-family: 'Open sans';
	text-decoration: none;
}

.menu-filtro li:hover .submenu-filtro{
	visibility: visible;
	opacity: 1;
}

/* Fin menu desplegable */

/* Filtro de búsqueda */

