*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#borderes{
    background-color: rgb(252, 252, 252);
}
#colorFondo{
    background-color: #2a2828;
}
body{
	background: #292222;
}

header{
	width: 100%;
}

.tituloNav{
    color: white;
    margin-top: -20px;
}

.left-links {
    float: left;
    margin-right: 15px;
  }
  
  .right-link {
    margin-left: 10px;
    float: right;
  }
  
  .menu::after {
    content: "";
    display: table;
    clear: both;
  }


.navegacion ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
  font-size: 18px;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	background-color: #ff0000;
	transition: all .3s;
}

/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    padding: 0; /* Elimina el relleno */
    margin: 0; /* Elimina el margen */
    list-style: none; /* Quita las viñetas de la lista */
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


.imagenCartelera
{
  height: 255px;
  width: 180px;
  display: block; /* Hacer que la imagen sea un elemento en bloque */
  margin: 0 auto; /* Centrar la imagen horizontalmente si es necesario */
  background-color: #333; /* Color de fondo del recuadro */
  padding: 3px; /* Añade espaciado alrededor de la imagen */
}
.textoCartelera
{
  /* font-family: 'Open sans'; */
	text-decoration: none;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-align: center; /* Alinear el texto al centro */
}

.SeccionCartelera {
  
  margin-bottom: 15px;
  display:flex;
  overflow: scroll;
  justify-content: flex-start; /* Espaciar los elementos horizontalmente */
  border-top: rgb(75, 74, 74) solid 0.1px;
  border-left:rgb(75, 74, 74) solid 0.1px;
  border-top-left-radius: 25px;
}
.SeccionCartelera::-webkit-scrollbar
{
  width: 0px;
  height: 7px;
  
  
}
.SeccionCartelera::-webkit-scrollbar-thumb
{
  background: rgb(74, 73, 73);
  border-radius: 15px;
  
}

.peliculaCartelera {
  
  flex: 0 0 calc(20% - 20px); /* Ajustar el ancho de cada elemento para tres en una fila */
  margin: 10px; /* Espacio entre las películas */
  text-align: center;
}



