*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#main{
  background: rgba(46, 46, 46, 0.137);
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
}
#colorFondo{
    background-color: #2a2828;
}

.imagenCartelera
{
  height: 255px;
  width: 180px;
  display: block;
  margin: 0 auto;
  background-color: rgba(138, 138, 138, 0.44); 
  padding: 3px; 
}
.textoCartelera
{
	text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.788);
  text-align: center;
  user-select: none;
  
}

.SeccionCartelera {
  margin-bottom: 15px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: flex-start;
  border-top: rgba(138, 138, 138, 0.44) solid 3px;
  height: 320px;
  padding-left: 5px;
}

.SeccionCartelera::-webkit-scrollbar
{
  width: 0px;
  height: 7px;
  
  
}
.SeccionCartelera::-webkit-scrollbar-thumb
{
  background: rgb(74, 73, 73);
  border-radius: 15px;
  
}

.peliculaCartelera {
  padding-left: 3%;
  padding-right: 3%;
  flex: 0 0 calc(24% - 8px);
  margin: 10px;
  text-align: center;
}

.texto
{
  width: auto;
  color: rgba(255, 255, 255, 0.788);
}


